{% extends 'base.html.twig' %}

{% block body %}
<div id="message"></div>


<table>
<tr>
    <td><button id="btn1_1" row="1" col="1" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
    <td><button id="btn1_2" row="1" col="2" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
    <td><button id="btn1_3" row="1" col="3" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
</tr>
<tr>
    <td><button id="btn2_1" row="2" col="1" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
    <td><button id="btn2_2" row="2" col="2" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
    <td><button id="btn2_3" row="2" col="3" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
</tr>
<tr>
    <td><button id="btn3_1" row="3" col="1" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
    <td><button id="btn3_2" row="3" col="2" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
    <td><button id="btn3_3" row="3" col="3" class="xo-button">&nbsp;&nbsp;&nbsp;</button></td>
</tr>
</table>
    
<div>
    <button id="btnNewGame" >New Game</button></td>
</div>
{% endblock %}

