{% extends 'base.html.twig' %}

{% block body %}
<div id="message"></div>
<div>
    <button id="btn1_1" row="1" col="1" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
    <button id="btn1_2" row="1" col="2" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
    <button id="btn1_3" row="1" col="3" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
</div>
<div>
    <button id="btn2_1" row="2" col="1" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
    <button id="btn2_2" row="2" col="2" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
    <button id="btn2_3" row="2" col="3" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
</div>
<div>
    <button id="btn3_1" row="3" col="1" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
    <button id="btn3_2" row="3" col="2" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
    <button id="btn3_3" row="3" col="3" class="xo-button">&nbsp;&nbsp;&nbsp;</button>
</div>
<div>
    <button id="btnNewGame" >New Game</button>
</div>
{% endblock %}

