        #message {
            height: 50px;
            font-size:1.5em;
            padding-top:10px;
            padding-bottom:20px;
            padding-left:20px;
        }
        td {
            width:50px;
            height:50px;
            text-align:center;
        }
        .winner {
            background-color:#33ff33;
        }
        .tie {
            background-color:#ffff33;
        }
